@{
  Layout = "_Layout";
}

@using BestRestaurants.Models;
@model BestRestaurants.Models.Category;

<h2>Cuisine Details</h2>
<hr />
<h3>@Html.DisplayCuisineNameFor(model => model.CuisineName): @Html.DisplayFor(model => model.CuisineName)</h3>

<ul>
@if (@Model.Restaurants.Count == 0)
{
  <p>No restaurants listed</p>
}

@foreach (Item item in @Model.Restaurants)
{
  <li>Name: @item.Name</li>
}
</ul>

<p>@Html.ActionLink("Back to Cuisines", "Index")</p>
<p>@Html.ActionLink("Edit Cuisine", "Edit", new { id = Model.CuisineId })</p>
<p>@Html.ActionLink("Delete Cuisine", "Delete", new { id = Model.CuisineId })</p>