@{
  Layout = "_Layout";
}

@model BestRestaurants.Models.Restaurant

<h4 class="text-center">Add a restaurant</h4>
<div class="col-md-6 offset-md-3">

@using (Html.BeginForm())
{
  <div class="form-group">
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name, new { @class = "form-control"})
  </div>
  <div class="form-group">
    @Html.LabelFor(model => model.Location)
    @Html.TextBoxFor(model => model.Location, new { @class = "form-control"})
  </div>
  <div class="form-group">
    @Html.LabelFor(model => model.Rating)
    @Html.TextBoxFor(model => model.Rating, new { @class = "form-control"})
  </div>
  <div class="form-group">
    @Html.LabelFor(model => model.Review)
    @Html.TextBoxFor(model => model.Review, new { @class = "form-control"})
  </div>
  <div class="form-group">
    @Html.LabelFor(model => model.Cuisine)
    @Html.DropDownList("CuisineId")
  </div>
    <input type="submit" value="Add new restaurant" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all restaurants", "Index")</p>