@{
  Layout = "_Layout";
}

@model BestRestaurants.Models.Restaurant
<div class="col-md-8 offset-md-2">
  <h2>Restaurant:</h2>
</div>
<hr />
<div class="col-md-8 offset-md-2">
  <h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
  <h3>@Html.DisplayNameFor(model => model.Location): @Html.DisplayFor(model => model.Location)</h3>
  <h3>@Html.DisplayNameFor(model => model.Rating): @Html.DisplayFor(model => model.Rating)</h3>
  <h3>@Html.DisplayNameFor(model => model.Review): @Html.DisplayFor(model => model.Review)</h3>
  <hr>
  <p>@Html.ActionLink("Edit Restaurant", "Edit", new { id = Model.RestaurantId })</p>
  <p>@Html.ActionLink("Delete Restaurant", "Delete", new { id = Model.RestaurantId })</p>
</div>